* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    border: #000 double medium;
    position: fixed;
    top; 0;
    right: 0;
    left: 0; 
}

h1 {
  text-align: center; 
  padding: 10px;
}
