* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #0999ac56;
}

header {
  border: #000 double medium;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0999ac;
  height: 100px;
  z-index: 1;
}

h1 {
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

h2 {
  font-size: 20px;
  padding: 20px;
  margin-top: 25px;
}

.question-box {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: auto;
  border: solid thin;
  border-radius: 5%;
  position: relative;
  background-color: #4d09ba56;
}

.bookmark {
  width: 70px;
  position: absolute;
  top: -20px;
  right: 40px;
}

.question {
  text-align: center;
}

.button {
  border-radius: 10%;
  border: double;
  padding: 10px;
  background-color: #0999ac56;
}

.tags {
  list-style: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: flex-end;
  align-self: flex-start;
  margin-top: 20px;
  padding: 10px;
}

.one-tag {
  border: double #000;
  border-radius: 10%;
  padding: 5px;
  font-size: 10px;
  background-color: #00000065;
}

.navigation {
  border: #000 double medium;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0999ac;
  height: 100px;
  z-index: 1;
  gap: 15px;
}
