@import "./css/quizz-page.css";
@import "./css/bookmark-page.css";
@import "./css/profile-page.css";

:root {
  --black: #000;
  --light-orange: #de7f1357;
  --full-orange: #de7f13;
  --full-purple: #4d09ba84;
  --light-purple: #4d09ba6f;
  --gray-purple: #00000065;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--light-orange);
}

header {
  border: var(--black) double medium;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--full-orange);
  height: 105px;
  z-index: 1;
  gap: 5px;
}

h1 {
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 100px 150px 100px;
  gap: 80px;
}

h2 {
  font-size: 20px;
  padding: 20px;
  margin-top: 25px;
}

h3 {
  text-align: center;
}

.h1__subtitle {
  padding: 0;
  margin-top: 0;
}

.darkmode {
  background-color: var(--black);
  color: white;
}
