@import "./css/quizz-page.css";
@import "./css/bookmark-page.css";
@import "./css/form-page.css";
@import "./css/profile-page.css";

:root {
  --color-text: #000;
  --color-border: #000;
  --color-background: #f4d3ae;
  --color-header: #de7f13;
  --color-footer: var(--color-header);
  --color-questioncard: #ac7bb3;
  --color-questioncard-button: #7b41b7;
  --color-questioncard-tag: #684a6c;
  --color-questioncard-icon-active: var(--color-questioncard-tag);
  --color-nav-icon-active: var(--color-questioncard-tag);
  --color-nav-tab-active: var(--color-background);

  --svg-color-icon-active: invert(29%) sepia(31%) saturate(530%)
    hue-rotate(246deg) brightness(99%) contrast(89%);
  --svg-filter-color-light: invert(100%) sepia(57%) saturate(0%)
    hue-rotate(200deg) brightness(107%) contrast(101%);

  --border-radius: 0.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--color-background);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-header);
  height: 105px;
  z-index: 1;
  gap: 5px;
}

h1 {
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  gap: 80px;
}

h2 {
  font-size: 20px;
  padding: 0;
  margin-top: 0;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  filter: invert(29%) sepia(31%) saturate(530%) hue-rotate(246deg)
    brightness(99%) contrast(89%);
}

.darkmode {
  --color-text: #f8f3f3;
  --color-border: #f8f3f3;
  --color-background: #1c236f9b;
  --color-header: #041e2b;
  --color-questioncard-button: #4d09ba84;
  --color-questioncard: #4323766f;
  --color-questioncard: #00000065;
  color: #f8f3f3;
}
