.questioncard__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80vw;
  height: 100%;
  border: solid thin;
  border-radius: var(--border-radius);
  position: relative;
  background-color: var(--light-purple);
}

.questioncard__question {
  font-size: 20px;
  margin: 30px 20px 0 20px;
  text-align: center;
}

.questioncard__answer {
  font-size: 0.9em;
  text-align: center;
  margin: 0 20px 0 20px;
  visibility: hidden;
}

.questioncard__tag-list {
  list-style: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: flex-end;
  align-self: flex-start;
  margin: 30px 10px 10px 10px;
}

.questioncard__tag-list-item {
  border: double var(--black);
  border-radius: var(--border-radius);
  padding: 5px;
  font-size: 10px;
  background-color: var(--gray-purple);
}
