.questioncard__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80vw;
  height: 100%;
  border: solid thin;
  border-radius: var(--border-radius);
  position: relative;
  background-color: var(--light-purple);
}

.questioncard__question {
  font-size: 20px;
  margin: 30px 20px 0 20px;
  text-align: center;
}

.questioncard__answer {
  font-size: 0.9em;
  text-align: center;
  margin: 0 20px 0 20px;
  visibility: hidden;
}

.questioncard__bookmark-icon--dark {
  position: absolute;
  top: -20px;
  right: 20px;
}

.questioncard__bookmark-icon--light {
  filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(200deg)
    brightness(107%) contrast(101%);
}
