.navigation {
  border: var(--black) double medium;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--full-orange);
  height: 100px;
  z-index: 1;
  gap: 15px;
}

.navigation__icon,
.navigation__icon--light {
  height: 48px;
}

.navigation__icon--light {
  filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(200deg)
    brightness(107%) contrast(101%);
}
