.tag {
  list-style: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: flex-end;
  align-self: flex-start;
  margin: 30px 10px 10px 10px;
}

.tag__item {
  border: double var(--black);
  border-radius: var(--border-radius);
  padding: 5px;
  font-size: 10px;
  background-color: var(--gray-purple);
}
