.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counter__question,
.counter__bookmark {
  display: flex;
  align-self: center;
  margin-left: 10px;
}

.counter__question {
  margin-right: 15px;
}

.counter__question-icon {
  height: 30px;
}

.counter__bookmark-icon {
  height: 30px;
  margin-left: 15px;
}
